.page
{
    width: 1500px;
    margin: 0 auto;
}

.container
{
    background-color: green;
}

.main
{
    width: 65%;
    float: left;
    
}

.side
{
    width: 30%;
    float: right;
}



.one 
{
    clear: both;
}