ul
{
     list-style: none;
     background-color: bisque;
     margin-left:600px;
     overflow: hidden;
     width: 45%;
}
ul li
{
    float:left;
    padding: 30px;

}

ul li:hover
{
    background-color: rgb(250, 181, 142);
}
ul li a
{
    text-decoration:none;
}
ul li a:hover
{
    color: blackc;
}